<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Detect Object</title>
  </head>
  <body>
    <form
      name="upload"
      class="form"
      method="post"
      action="/upload"
      enctype="multipart/form-data"
    >
      <h1>AWS NODE JS</h1>
      <input type="file" id="img" name="image" />
      <button id="next">Done</button>
      <canvas id="canvas"></canvas>
    </form>
    <script src="/index.js"></script>
  </body>
</html>
